html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Tahoma";
}

.error {
  margin: 25px;
  color: rgb(181, 194, 7);
}

.flex {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.main {
  padding: 0px;
  box-sizing: border-box;
  height: 100%;
  flex: 6;
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
}

.main h1 {
  color: #444;
}

.drawer {
  background-color: #5650a8;
  height: 100%;
  flex: 4;
  color: beige;
}

.book-list {
  padding: 0;
  margin: 0 auto;
}

.book-list li {
  display: inline-block;
  margin: 12px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #5650a8;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  color: #5650a8;
}

.book-list li:hover {
  background-color: #5650a8;
  color: white;
  transition: cubic-bezier(0.23, 1, 0.320, 1);
}

form {
  padding: 40px 20px;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
}

form .field {
  display: flex;
  padding: 10px 30px;
}

.field * {
  flex: 1;
}

form button{
  width: 100% ;
  padding: 7px;
  text-align: center;
  text-transform: uppercase;
}